/*  rtl variable support
================================ */

$def-float: right;
$opp-float: left;
$def-direction: rtl;
$opp-direction: ltr;
$body-text-align: $def-float;
$def-scale: -1;
$opp-scale: 1;
$breadcrumb-rotate-angel: 90deg;
/*  rtl font support
================================ */
// @include font-face($rtl-fonts, $rtl-fonts-folder, normal, normal, $rtl-fonts-ext);
// $font-family-base: $rtl-font-family-base;
// $font-medium: "Cairo-Medium";
// $font-bold: "Cairo-Bold";
// $font-light: "Cairo-Light";
// $font-regular: "Cairo-Regular";
// $font-semBold: "Cairo-SemiBold";
// $asward-regular: "Cairo-Regular";
// $asward-bold: "Cairo-Bold";
// $asward-medium: "Cairo-Medium";
// $asward-light: "Cairo-Light";

// $font-family-base: $font-regular;
